/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Fira Sans Condensed', "Helvetica Neue", sans-serif !important;
  background-color: hsl(0,0%,94%);
}

.container {
  max-width: 90% !important;
}





button:focus {
  outline: none;
}


.mat-body,
.mat-tab-group,
.mat-tab-label,
.mat-form-field,
.mat-option,
.mat-select,
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: 'Fira Sans Condensed', "Helvetica Neue", sans-serif !important;
}

.mat-form-field {
  font-size: 13px;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  line-height: 2.25em !important;
  height: 2.25em !important;
}



.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: hsl(0, 0%, 85%);
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px 'Fira Sans Condensed', "Helvetica Neue", sans-serif !important;
}


.mat-card-actions {
  margin-left: unset !important;
  margin-right: unset !important;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 24px;
}


.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-weight: 400 !important;
}



.formfield-container {
  display: grid;
  flex-direction: column;
  padding: 32px 16px 16px 16px;
  grid-gap: 16px;
}

.tab-content {
  height: 450px;
  margin: 18px 0 0 0;
}
