

<h6 mat-subheader>Автор заявки</h6>
<div class="ai-wrapper">


  <mat-form-field>
    <mat-label>ЛОГИН</mat-label>
    <input matInput [(value)]="login" disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ФИО</mat-label>
    <input matInput [(value)]="name" disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ПОДРАЗДЕЛЕНИЕ</mat-label>
    <input matInput [(value)]="unitName" disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ЦФО</mat-label>
    <input matInput [(value)]="cfoName" disabled>
  </mat-form-field>




</div>
