



<mat-card class="mat-body">
  <mat-card-header>
    <mat-card-title>Создание заявки на заключение хоз. договора</mat-card-title>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>


    <mat-tab-group style="margin-top: 12px;">

      <mat-tab label="АТРИБУТЫ ЗАЯВКИ">
        <div class="tab-content">
          <div class="pr-wrapper">




            <author-info [login]="authorLogin"
                         [name]="authorName"
                         [accountId]="authorAccId"
                         [unitName]="authorUnit"
                         [cfoName]="value.authorInfo.cfo.name"></author-info>



            <h6 matSubheader>Оплата заявки</h6>
            <div class="grid-row-wrapper">
              <mat-form-field>
                <mat-select [(value)]="company" placeholder="КОМПАНИЯ-ПОКУПАТЕЛЬ">
                  <mat-option *ngFor="let comp of companiesList" [value]="comp">{{comp}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select [(value)]="targetCfoGuid" placeholder="ЦЕЛЕВОЕ ЦФО">
                  <mat-option *ngFor="let cfo of cfoList" [value]="cfo.guid">{{cfo.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <budget-period-selector [month]="budgetPeriodMonth"
                                      [year]="budgetPeriodYear"
                                      (monthChangedEvent)="receiveBudgetMonth($event)"
                                      (yearChangedEvent)="receiveBudgetYear($event)"></budget-period-selector>
            </div>




            <h6 mat-subheader>Содержимое заявки</h6>
            <div class="content-row-wrapper">
              <mat-form-field>
                <mat-label>ВСЕГО ПОЗИЦИЙ</mat-label>
                <input matInput [(value)]="totalItems" disabled>
              </mat-form-field>
              <mat-form-field>
                <mat-label>ОБЩАЯ СТОИМОСТЬ</mat-label>
                <input matInput [(value)]="totalItemsCost" disabled>
              </mat-form-field>
            </div>



          </div>
        </div>
      </mat-tab>




      <mat-tab label="ПОЗИЦИИ ЗАЯВКИ">
        <div class="tab-content">
          <purchase-items-list (itemAddedEvent)="receivePurchaseItems($event)"
                               ></purchase-items-list>
        </div>
      </mat-tab>




      <mat-tab label="КОНТРАГЕНТЫ И КОММ. ПРЕДЛОЖЕНИЯ">
        <div class="tab-content">

        </div>
      </mat-tab>




      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>help</mat-icon>
        </ng-template>
        <div class="tab-content">

        </div>
      </mat-tab>


    </mat-tab-group>








  </mat-card-content>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions>

    <button mat-button color="primary">СОЗДАТЬ</button>
    <button mat-button color="warn">ОТМЕНИТЬ</button>
    <button mat-button (click)="sendInfoToConsole()">ИНФО</button>


  </mat-card-actions>
</mat-card>
