<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->




<mat-card style="display: grid; grid-auto-flow: column;">



  <mat-expander [zOpened]="4" [zClosed]="0" style="margin-top: 4rem;" [toggleIconName]="'expand_more'">

    <div class="header">This is header</div>

    <ul class="overlay" style="margin: 0; padding: 0; list-style: none;">
      <li>1111111</li>
      <li>2222222</li>
      <li>3333333</li>
    </ul>

  </mat-expander>




  <aside-panel>
    <ul style="margin: 0; padding: 0; list-style: none;">
      <li>1111111</li>
      <li>2222222</li>
      <li>3333333</li>
    </ul>
  </aside-panel>





</mat-card>





<mat-card style="margin: 3rem;" class="mat-elevation-z4">



  <list-navigator [dataSource]="dataSource"
                  [(selectedItems)]="selectedUsers">


    <mat-card *list-navigator-item="let i, let isSelected = selected">

      <mat-list-item class="item-container"
                     [class.item-container-selected]="isSelected">

        <p mat-line>{{i.firstName}} {{i.lastName}}</p>

      </mat-list-item>
    </mat-card>
    
  </list-navigator>


</mat-card>
