

<!--<mat-card [ngClass]="cardClass">
  <header>
    <div class="summary-wrapper">
      <ng-content select=".summary"></ng-content>
    </div>
    <button mat-icon-button (click)="toggle()" class="btn-small">
      <mat-icon [@upDown]="isUp ? 'up' : 'down'">{{toggleIconName}}</mat-icon>
    </button>
  </header>


  <section [@openClose]="isOpen ? 'open' : 'closed'">
    <ng-content></ng-content>
  </section>
</mat-card>-->



<mat-card [class]="cardClass" #matcard>
  <div class="wrapper" #hdr [style.height]="fullHeight" [style.transition]="'280ms ease-in-out'">

    <header cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <div class="header-wrapper" (click)="toggle()">
        <ng-content select=".header"></ng-content>
      </div>
      <button mat-icon-button
              color="primary"
              (click)="toggle()"
              class="btn-small">
        <mat-icon [@upDown]="isUp ? 'up' : 'down'">{{toggleIconName}}</mat-icon>
      </button>
    </header>

    <mat-divider [inset]="true"></mat-divider>



    <ng-template cdkConnectedOverlay
                 #tmpl
                 [cdkConnectedOverlayOrigin]="trigger"
                 [cdkConnectedOverlayWidth]="triggerWidth"
                 [cdkConnectedOverlayOpen]="isOpen"
                 [cdkConnectedOverlayOffsetY]="1"
                 [cdkConnectedOverlayFlexibleDimensions]="true"
                 (backdropClick)="close()">


      <section #overlay class="overlay-wrapper" style="padding-top: 1rem; width: inherit;">
        <ng-content select=".overlay"></ng-content>
      </section>

    </ng-template>

  </div>
</mat-card>
