

:host {
  display: block;
  width: 320px;
}


.item-card {
  padding: 6px 12px;
  width: inherit;
  border-radius: 2px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header .header-wrapper {
  flex: 1;
}


.header-wrapper > * {
  margin: 0;
  padding: 0 6px;
}



.btn-small {
  width: 24px;
  height: 24px;
  line-height: 24px;
}




.overlay {
  width: inherit;
}
