
:host {
  width: 100%;
}


.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 185px) auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
}


.wrapper > h5 {
  font-weight: 300;
  font-family: 'Roboto Condensed';
  font-size: 1.0rem;
  margin-bottom: 0;
}

.wrapper > .mat-form-field {
  max-height: 44px; 
}


  .wrapper > .btn-small {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
